apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: fintlabs-no

resources:
  - ../../../base
  - digisak-oauth2-client.yaml
  - side-oauth2-client.yaml

labels:
  - pairs:
      app.kubernetes.io/instance: fint-flyt-authorization-service_fintlabs_no
      fintlabs.no/org-id: fintlabs.no

patches:
  - patch: |-
      - op: replace
        path: "/spec/kafka/acls/0/topic"
        value: "fintlabs-no.flyt.*"
      - op: replace
        path: "/spec/orgId"
        value: "fintlabs.no"
      - op: replace
        path: "/spec/url/basePath"
        value: "/beta/fintlabs-no"
      - op: replace
        path: "/spec/ingress/basePath"
        value: "/beta/fintlabs-no/api/intern/authorization"
      - op: add
        path: "/spec/env/-"
        value:
          name: "novari.flyt.resource-server.security.api.internal.authorized-org-id-role-pairs-json"
          value: |
            {
              "fintlabs.no":["USER"],
              "vigo.no":["DEVELOPER","USER"],
              "novari.no":["DEVELOPER","USER"]
            }
      - op: add
        path: "/spec/env/-"
        value:
          name: "fint.flyt.digisak.available"
          value: "true"
      - op: add
        path: "/spec/env/-"
        value:
          name: "fint.flyt.side.available"
          value: "true"
      - op: add
        path: "/spec/envFrom/0"
        value:
          secretRef:
            name: fint-flyt-digisak-oauth2-client
      - op: add
        path: "/spec/envFrom/1"
        value:
          secretRef:
            name: fint-flyt-side-oauth2-client
      - op: add
        path: "/spec/env/-"
        value:
         name: "novari.kafka.topic.orgId"
         value: "fintlabs-no"
      - op: replace
        path: "/spec/probes/startup/path"
        value: "/beta/fintlabs-no/actuator/health"
      - op: replace
        path: "/spec/probes/readiness/path"
        value: "/beta/fintlabs-no/actuator/health/readiness"
      - op: replace
        path: "/spec/probes/liveness/path"
        value: "/beta/fintlabs-no/actuator/health/liveness"
      - op: replace
        path: "/spec/observability/metrics/path"
        value: "/beta/fintlabs-no/actuator/prometheus"
    target:
      kind: Application
      name: fint-flyt-authorization-service
