fint:
  application-id: fint-flyt-authorization-service
novari:
  flyt:
    authorization:
      access-control:
        permitted-approles:
          flyt-user: "https://role-catalog.vigoiks.no/vigo/flyt/user"
          flyt-developer: "https://role-catalog.vigoiks.no/vigo/flyt/developer"
        sync-schedule:
          initial-delay: 1s
          fixed-delay: 12h

spring:
  profiles:
    include:
      - flyt-kafka
      - flyt-logging
      - flyt-postgres
      - flyt-resource-server
