fint:
  org-id: fintlabs.no

novari:
  flyt:
    resource-server:
      security:
        api:
          internal:
            authorized-org-id-role-pairs-json: "{\"vigo.no\":[\"DEVELOPER\", \"USER\"]}"
  kafka:
    topic:
      org-id: fintlabs-no
    default-replicas: 1

spring:
  kafka:
    bootstrap-servers: localhost:9092
  datasource:
    hikari:
      schema: fintlabs_no
    url: jdbc:postgresql://localhost:5435/fint-flyt-authorization-service
    username: postgres
    password: password

  output:
    ansi:
      enabled: always

server:
  port: 8086
