fint:
  application-id: fint-flyt-authorization-service
  flyt:
    authorization:
      access-control:
        enabled: true
        permitted-approles:
          flyt-user: "https://role-catalog.vigoiks.no/vigo/flyt/user"
          flyt-developer: "https://role-catalog.vigoiks.no/vigo/flyt/developer"
        sync-schedule:
          initial-delay-ms: 1000
          fixed-delay-ms: 4320000

  cache:
    defaultCacheEntryTimeToLiveMillis: 518400000
    defaultCacheHeapSize: 1000000

spring:
  profiles:
    include:
      - flyt-kafka
      - flyt-logging
      - flyt-postgres
      - flyt-resource-server

logging:
  level:
    org:
      springframework:
        security: DEBUG