fint:
  org-id: fintlabs.no
  flyt:
    resource-server:
      security:
        api:
          internal:
            enabled: true
            authorized-org-id-role-pairs-json: "{\"vigo.no\":[\"DEVELOPER\"]}"
  cache:
    defaultCacheEntryTimeToLiveMillis: 600000
    defaultCacheHeapSize: 1000000
  kafka:
    default-replicas: 1
spring:
  kafka:
    bootstrap-servers: localhost:9092
  datasource:
    hikari:
      schema: fintlabs_no
    url: jdbc:postgresql://localhost:5435/fint-flyt-authorization-service
    username: postgres
    password: password
server:
  port: 8086
