apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: bfk-no

resources:
  - ../../../base
  - acos-oauth2-client.yaml
  - isygraving-oauth2-client.yaml

labels:
  - pairs:
      app.kubernetes.io/instance: fint-flyt-authorization-service_bfk_no
      fintlabs.no/org-id: bfk.no

patches:
  - patch: |-
      - op: replace
        path: "/spec/kafka/acls/0/topic"
        value: "bfk-no.flyt.*"
      - op: replace
        path: "/spec/orgId"
        value: "bfk.no"
      - op: replace
        path: "/spec/url/basePath"
        value: "/bfk-no"
      - op: replace
        path: "/spec/ingress/basePath"
        value: "/bfk-no/api/intern/authorization"
      - op: add
        path: "/spec/env/-"
        value:
          name: "novari.flyt.resource-server.security.api.internal.authorized-org-id-role-pairs-json"
          value: |
            {
              "bfk.no":["USER"],
              "viken.no":["USER"],
              "frid-iks.no":["USER"],
              "vigo.no":["DEVELOPER","USER"],
              "novari.no":["DEVELOPER","USER"]
            }
      - op: add
        path: "/spec/envFrom/0"
        value:
          secretRef:
            name: fint-flyt-acos-oauth2-client
      - op: add
        path: "/spec/envFrom/1"
        value:
          secretRef:
            name: fint-flyt-isygraving-oauth2-client
      - op: add
        path: "/spec/env/-"
        value:
         name: "novari.kafka.topic.orgId"
         value: "bfk-no"
      - op: replace
        path: "/spec/probes/readiness/path"
        value: "/bfk-no/actuator/health"
      - op: replace
        path: "/spec/observability/metrics/path"
        value: "/bfk-no/actuator/prometheus"
    target:
      kind: Application
      name: fint-flyt-authorization-service
  - patch: |-
      - op: replace
        path: "/spec/itemPath"
        value: "vaults/aks-api-vault/items/fint-flyt-altinn-oauth2-client"
    target:
      kind: OnePasswordItem
      name: fint-flyt-altinn-oauth2-client

  - patch: |-
      - op: replace
        path: "/spec/itemPath"
        value: "vaults/aks-api-vault/items/fint-flyt-egrunnerverv-oauth2-client"
    target:
      kind: OnePasswordItem
      name: fint-flyt-egrunnerverv-oauth2-client
