apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: nfk-no

resources:
  - ../../../base

labels:
  - pairs:
      app.kubernetes.io/instance: fint-flyt-authorization-service_nfk_no
      fintlabs.no/org-id: nfk.no

patches:
  - patch: |-
      - op: replace
        path: "/spec/kafka/acls/0/topic"
        value: "nfk-no.flyt.*"
      - op: replace
        path: "/spec/orgId"
        value: "nfk.no"
      - op: replace
        path: "/spec/url/basePath"
        value: "/nfk-no"
      - op: replace
        path: "/spec/ingress/basePath"
        value: "/nfk-no/api/intern/authorization"
      - op: replace
        path: "/spec/env/1/value"
        value: |
          {
            "nfk.no":["USER"],
            "vigo.no":["DEVELOPER","USER"],
            "novari.no":["DEVELOPER","USER"]
          }
      - op: replace
        path: "/spec/env/3/value"
        value: "nfk-no"
      - op: replace
        path: "/spec/probes/readiness/path"
        value: "/nfk-no/actuator/health"
      - op: replace
        path: "/spec/observability/metrics/path"
        value: "/nfk-no/actuator/prometheus"
    target:
      kind: Application
      name: fint-flyt-authorization-service

  - patch: |-
      - op: replace
        path: "/spec/itemPath"
        value: "vaults/aks-api-vault/items/fint-flyt-altinn-oauth2-client"
    target:
      kind: OnePasswordItem
      name: fint-flyt-altinn-oauth2-client

  - patch: |-
      - op: replace
        path: "/spec/itemPath"
        value: "vaults/aks-api-vault/items/fint-flyt-egrunnerverv-oauth2-client"
    target:
      kind: OnePasswordItem
      name: fint-flyt-egrunnerverv-oauth2-client